<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.blog.mapper.AboutMapper">
    <!-- 通用查询映射结果 全实体属性:全表字段 -->
    <resultMap id="BaseResultMap" type="xyz.fusheng.blog.pojo.About">
        <id column="about_id" property="aboutId"/>
        <result column="about_title" property="aboutTitle"/>
        <result column="about_content" property="aboutContent"/>
        <result column="about_read" property="aboutRead"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="enable" property="enable"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        about_id, about_title, about_content, about_read,
        created_time, update_time, version, enable, deleted
    </sql>

</mapper>